.lx-resume-certifications{
  padding:0px;
  font-size:1rem;
  line-height:24px;
  word-spacing:5px;
}
.lx-psm-cert {
  background-image: url("../../../assets/images/psm.png");
}
.lx-msft-cert {
  background-image: url("../../../assets/images/msft-cert.jpg");
}
