.lx-resume-certifications{
  padding:0px;
  font-size:1rem;
  line-height:1.5rem;
  word-spacing:0.3125rem;
}
.lx-psm-cert {
  background-image: url("../../../assets/images/psm.png");
}
.lx-msft-cert {
  background-image: url("../../../assets/images/msft-cert.jpg");
}
