.lx-resume-experience ul li{
  margin-bottom:15px;
}
.lx-resume-experience ul li:last-child{
  margin-bottom:0px;
}
.lx-resume-experience ul li h4{
  position:relative;
  margin-bottom:10px;
  padding-left:1.25rem;
  font-family:'Muli';
  font-size:1rem;
  text-transform:uppercase;
}
.lx-resume-experience ul li h4::before{
  content:"";
  position:absolute;
  top:3px;
  left:0px;
  width:10px;
  height:10px;
  background:#f03434;
  border-radius:50%;
}
.lx-resume-experience ul li h4 ins{
  float:right;
  font-weight:300;
  color:#f03434;
}

@media(max-width:768px){
  .lx-resume-experience ul li h4 ins{
    float:none;
    clear:both;
    font-size:0.75rem;
  }
}
.lx-resume-experience ul li span{
  color:#999999;
  font-family:'Muli';
}
.lx-resume-experience ul li p{
  font-size:1rem;
  line-height:24px;
  word-spacing:5px;
}
