.lx-resume-experience ul li {
  margin-bottom: 0.9375rem;

  &:last-child {
    margin-bottom: 0px;
  }

  & ins {
    float: right;
    font-size: 1rem;
    margin-top:-1.75rem;
  }

  & p {
    margin-left: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 0.3125rem;

    & i {
      border: solid black;
      display: inline-block;
      transform: rotate(-45deg);
      top:-0.1875rem;
      -webkit-transform: rotate(-45deg);
    }
  }

  .lx-resume-experience-dates {
    margin-left: 1.25rem;
    color: black;
    font-family: 'Muli';
  }

  & h4 {
    position: relative;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
    font-family: 'Muli';
    font-size: 1rem;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 0.1875rem;
      left: 0px;
      width: 0.625rem;
      height: 0.625rem;
      background: red;
      border-radius: 50%;
    }
  }
}

.lx-resume-experience-technology span{
  display:inline-block;
  margin:0.3125rem;
  padding:0.3125rem 0.625rem;
  font-family:'Muli';
  font-size:0.8125rem;
  font-weight:600;
  background:lightgray;
  color:black;
  border-radius:0.25rem;

  &:hover{
    background:red;
    color:white;
  }
}

@media(max-width: 768px) {
  .lx-resume-experience ul li h4 ins {
    float: none;
    clear: both;
    font-size: 0.75rem;
  }
}
