<div class="lx-resume-bloc lx-mt-0-50">
  <h3>About me</h3>
  <div class="lx-resume-about">
    <p>
      I thoroughly enjoy solving business problems through technology and strive in collaborative teams. I prefer
      to work in smaller Scrum teams in which the entire team is adept in all facets of the development lifecyle.
      I place an emphasis on creating clean and maintainable code to ensure the team is able to move efficiently
      as the needs of the business change.
    </p>
  </div>
</div>
