<div class="lx-resume-bloc">
  <h3>Work Experiences</h3>
  <div class="lx-resume-experience">
    <ul>
      <li *ngFor="let experience of experiences">
        <h4>{{experience.companyName}}
          <ins>{{experience.startDate}} - {{experience.endDate}}</ins>
        </h4>
        <p>
          {{experience.title}}
        </p>
        <p *ngFor="let duty of experience.duties">
          <i></i>
          {{duty.description}}.
        </p>
        <div class="lx-resume-experience-technology">
          <span *ngFor="let technology of experience.technologies">
            {{technology.description}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
