<div class="lx-resume-img">
  <img src="../../../assets/images/avatar.png"/>
</div>
<div class="lx-resume-name">
  <h1>Aaron Scribner</h1>
  <p>Code Artist</p>
  <ul>
    <li><a href="https://www.facebook.com/meesterover" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/scribner_aaron" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/aaron-s-96b438a4/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  </ul>
  <div class="lx-clear-fix"></div>
</div>
