<div class="lx-header">
  <div class="lx-main-menu">
    <ul>

      <li>
        <a [routerLink]="'/resume'"><i class="material-icons">school</i>
          <ins>Resume</ins>
        </a>
      </li>
      <li>
        <a [routerLink]="'/portfolio'"><i class="material-icons">view_quilt</i>
          <ins>Portfolio</ins>
        </a>
      </li>
      <li>
        <a [routerLink]="'/about'"><i class="material-icons">help_outline</i>
          <ins>About me</ins>
        </a>
      </li>
      <li>
        <a [routerLink]="'/references'"><i class="material-icons">group</i>
          <ins>References</ins>
        </a>
      </li>
      <li>
        <a [routerLink]="'/downloads'"><i class="material-icons">cloud_download</i>
          <ins>Print Resume</ins>
        </a>
      </li>
    </ul>
  </div>
</div>
