<div class="lx-main">
  <div class="lx-main-content">
    <div class="lx-clear-fix"></div>
    <div class="lx-g3-f lx-pr-30">
      <div class="lx-resume">
        <app-avatar></app-avatar>
        <app-contact-info></app-contact-info>
        <app-skills></app-skills>
      </div>
    </div>
    <div class="lx-g3-2-f lx-pl-30 lx-bl">
      <div class="lx-resume">
        <app-resume-about></app-resume-about>
        <app-certifications></app-certifications>
        <app-experience></app-experience>
        <app-education></app-education>
      </div>
    </div>
    <div class="lx-clear-fix"></div>
  </div>
</div>
