.lx-resume-bloc{
  margin-top:3.125rem;
}
.lx-resume-bloc h3{
  margin-bottom:1.25rem;
  font-size:1.25rem;
  text-transform:uppercase;
  border-bottom:0.0625rem solid #EEEEEE;
}
.lx-resume-bloc p{
  padding:0.3125rem 0px;
  color:#424242;
}
.lx-resume-bloc p i{
  position:relative;
  top:0.1875rem;
  font-size:1.125rem;
  line-height:0.0625rem;
  color:#858585;
}
