<div class="lx-main">
  <div *ngIf="resume" class="lx-main-content">
    <div class="lx-clear-fix"></div>
    <div class="lx-g3-f lx-pr-30">
      <div class="lx-resume">
        <app-avatar [resume]="resume"></app-avatar>
        <app-contact-info [contactInfo]="resume.contactInfo"></app-contact-info>
        <app-skills [skills]="resume.skills"></app-skills>
      </div>
    </div>
    <div class="lx-g3-2-f lx-pl-30 lx-bl">
      <div class="lx-resume">
        <app-resume-about [about]="resume.about"></app-resume-about>
        <app-certifications [certifications]="resume.certifications"></app-certifications>
        <app-experience [experiences]="resume.experience"></app-experience>
        <app-education [education]="resume.education"></app-education>
      </div>
    </div>
    <div class="lx-clear-fix"></div>
  </div>
</div>
